body {
    /* background-color: #28293E; */
    color : #FFFFFF;
      background: linear-gradient(#28293E 50%, #FDF0E9 50%);
      background: linear-gradient(#28293E 0%, #28293E 22%, #FDF0E9 22%, #FDF0E9 40%, #28293E 40%,#28293E 61%,#FDF0E9 61%,#FDF0E9 84%,#28293E 84%,#28293E 95%, #FDF0E9 95%, #FDF0E9 100%);
      font-family: 'Epilogue', sans-serif;
      max-width: 1440px;
}

.width-70{
  width: 70%;
}

.width-85{
  width:85%;
}

.width-60{
  width :60%;
}





.margin-l-100{
 margin-left: 100px;
}
.margin-l-200{
  margin-left: 200px;
 }
.margin-l-navitem{
  margin-left: 5%
}
.navbar {
    margin-left: 2%;
    margin-right: 2%;
  }
  .navbar .navbar-nav .nav-link {
    color: white;
  }
  .NavItemLike{
    margin-left: 10%;
    color: #FFFFFF;
  }

  .navbar-button {
    background-color: transparent;
    color: #FFFFFF;
    width: 138px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
  }
.big-image{
  width : 100%;
  height : 100%;
  object-fit: cover;
}
  .S1container{
    
    padding: 4%;
    margin-top: 100px;
    margin-bottom: 50px;
   
   
  }
  
 
  .InfoStatus{
    color: var(--text-light-accent, #EF6D58);

    /* H5 */
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
    letter-spacing: 3px;
    text-transform: uppercase;
  }
 .margin-l{
  margin-left: 60px;
 }

 .height-50{
  height: 50px;
 }

 .margin-l-40{
  margin-left:40px;
 }
  .InfoTitle{
    

    /* H1 */
    font-family: Epilogue;
    font-style: normal;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: -2px;
  }
  .lineh-60{
    line-height: 60px !important;
  }
  .lineh-40{
    line-height: 40px !important;
  }
  .fontSize-72{
    font-size: 72px;
  }
  .fontSize-45{
    font-size: 45px;
  }
  .fontSize-35{
    font-size: 35px;
  }
  .fontSize-55{
    font-size: 55px;
  }
  .fontSize-30{
    font-size: 24px;
  }

  .h2Like{
  text-align: center;

  /* H2 */
  font-family: Epilogue;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 64px; /* 114.286% */
  letter-spacing: -1px;
  }
  .h3Like{
    

    /* H3 */
    width:450px;
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; /* 120% */
    
  }
  .S2{
    width :350px;
  }

  .InfoDescription{
   

    /* Text */
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    
    
  }
 
  .dark-gray{
    color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));
  }

  .btnLike{
    
    height: 42px;
    flex-shrink: 0;
    border-radius: 6px;
    text-align: center;
    font-family: Epilogue;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    border-color: transparent;
}
.no-bg{
  border-style: solid;
  background-color: transparent;
  border-color: #FFFFFF;
  border-width: 1px;
}
.orange{
  width: 154px;
  background: #EF6D58;
}

.bg-org{
  background:#EF6D58
}

.orang{

  background: #EF6D58;
}
.purple{
  width: 160px;
  background:#B550F8;
}

.S1-leftSide{
    margin-top: 5.2%;
}
.PageBreakLine{
  margin-left: 135px;
  margin-right: 135px;
  height: 5px;
  
  
}

.skinColor{
  color: #F3D1BF;
}





.CircularImage {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #EF6C57;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 40px;
}

.CircularImageSmall {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EF6C57;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.width-5{
  width: 10%;
  
}

.CircularImage img {
  max-width: 100%;
  max-height: 100%;
  
}


.CircularImage-out {
  position: relative;
  width: 300px;
  height: 150px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -75px;
  margin-left: 10px;
  overflow: hidden;
}

.CircularImage-out img.star {
  position: relative;
  
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.CircularImage-out img.gift {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:2;
  width: 40px;
  height: 40px;
  object-fit: cover;
}


.h4Like{


  /* H4 */
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
 
  margin-left: 40px;
}

.h4-Like{


  /* H4 */
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
 
 
}


.dark{
  color: var(--text-dark, #391400);
}
.white{
  color: white
}
.gray{
  color: var(--text-light-gray, rgba(255, 255, 255, 0.64));
}
.marginT-150{
   margin-top: 125px;
}

.grayText{
  color: var(--text-dark-gray, rgba(57, 20, 0, 0.64));

/* Text */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
.textLike{
  

  /* Text */
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  
  margin-left: 40px;
}

.darkText{
  color: var(--text-dark, #391400);

/* Text */
font-family: Epilogue;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}

.tlike{
  /* Text */
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  
  margin-left: 40px;
}

.changeBGColor{
  background: linear-gradient(to right, black 50%, white 50%);
}


.BigTEXT{
 

  /* Text_Big */
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.darkBorder{
  border: 1px solid #F3D1BF;
}




.h1Like{
  color: #391400;

  /* H1 */
  font-family: Epilogue;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 111.111% */
  letter-spacing: -2px;
}

.notification {
  background-color: none;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.centeralize{
  justify-content: center !important;
  text-align: center !important;
}

.centeralizeTags{
  justify-content: center !important;
}


.background-image {
  /* width: 400px;
  height: 300px; */
  
  background-size: cover;
  background-repeat: no-repeat;
}

.bgURL1{
  background-image: url('images/BG.png');
}
.bgURL2{
  background-image: url('images/BG2.png');
}
.bgURL3{
  background-image: url('images/BG3.png');
}
.bgURL4{
  background-image: url('images/BG4.png');
}
.bgURL5{
  background-image: url('images/BG5.png');
}
.bgURL6{
  background-image: url('images/BG6.png');
}

.rounded-edges{
  border-radius: 19px;
  background: #FFF;
 
  height: 36px;
  
  border:none;
}

.rounded-edge{
  border-radius: 19px;
  background: #EF6D58;
  
 
  height: 36px;
  
  border:none;
}

.font-white{
  color : white;
}

.height{
  height: 350px;
  margin-right: 25px;
}

.btn-text{
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  margin-top: 10px;
  
}

.custom-button {
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
}


 /* background: linear-gradient(#28293E 50%, #FDF0E9 50%); */
.bg-dark{
 background-color: #28293E;
}

.bg-light{
  background-color: #FDF0E9;
}





.img-container {
  position: relative;
  width: 300px;
  height: 300px; 
}

.img-container img {
  position: absolute;
  top: 50px;
  left: -0px;
}

.block {
  z-index: 2;
  width : 90%;
  height : 90%
}
 .cloud {
    
  width : 100%;
  height : 100%;
  
    
  }

.margin-t-125{
  margin-top: 125px;
 
}
.row-jambo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1%;
}


.margin-t-10{
  margin-top: 10px;
}

.border-skin {
  border: 1px solid #F3D1BF;
}
.no-column-padding {
  padding-left: 0;
  padding-right: 0;
}

.margin-l-reduce{
  margin-left:-85px;
}
.pricing-card {
  border-radius: 6px 6px 0px 0px;
  border: 1px solid #F3D1BF;
  
 
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 7%;
  padding-right:7%;
 
}

ul {
  list-style-type: none;
}

.p-45{
  padding-left: 15px;
  padding-right:45px;
}
.pt-45{
  padding-top: 90px;
  padding-bottom:20px;
}


.middle-card {
  height: 460px; /* Adjust the height as desired */
}

.icon-image{
  width: 32px;
  height: 32px;
  background-color: #EF6D58;
  border-radius: 50%;
  color: white;
  text-align: center;
}

@media screen and (max-width: 850px) {
  

  /* body{
    background-color: white !important;
  } */

  .explore{
    flex-direction: column;
   

  }
}
@media screen and (max-width: 870px){
  .comment{
    width: 90%;
    justify-content: center;
    
  }
  .colapse-comment{
    flex-direction: column;
    align-items:center;
    width:100%;
  }
}
@media screen and (max-width: 992px){
  .web-design-page{
    flex-direction : column;
    width : 100%;
    align-items: center !important;
    margin-left :0;
  }
  .testPrice{
    width: 80%
  }
}

@media screen and (max-width:784px){
  .align-center-media{
    flex-direction: column !important;
    align-items: center;
  }
  .terms-align{
    
    justify-content: center !important;
  }
}
@media screen and (max-width: 970px){
  

  .test{
    width: 80%;
    justify-content: center;
   
  }
  .value-card{
    width: 80%;
    margin-left: 4%;
  }
  .test-bg-image{
    width: 80%;
    justify-content: center;
  }

  .S1container{
    margin-right: 20px;
    margin-left: 20px;
  }

  .suscribe-colapse{
    margin-top: 1%;
  }

  .collapse-margin-remove{
    margin-top:0 !important;
  }

  
}

@media screen and (max-width : 1109px){
  .video-colapse{
    flex-direction: column;
    
  }
  
}

@media screen and(max-width: 796px){
  .footer{
  flex-direction: column;
  align-items:center;
  }
}

@media screen and (max-width : 838px){
  
  .icons{
   display : none;
  }

  .icr2{
    display :none;
  }

  .social-icons{
    justify-content: start !important;
   
  }
  .awards{
    /* flex-direction:column;.
    align-items: center; */
  }

  .award-row{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .btn-colapse{
    justify-content: center !important;
  }

  .tlike{
    margin: 0;
  }
 
}

@media screen and (max-width : 850px) and (min-width : 768px){
  .make-center{
    width : 100%;
    height: 100%;
    margin-right: 0;
    align-items: center;
  }
 
}

@media screen and (max-width: 771px){
  .makeColumn{
   
    justify-content: center !important;
  }
  .makeColumn1{
    flex-direction: column !important;
    justify-content: center !important;
  }
  
}

@media screen and (max-width : 1073px){
  .make-card-Column{
    flex-direction: column-reverse !important;
    justify-content: center !important;
    align-items: center;
  }
  .increase-width{
    width:90% !important; 
  }
  .d-fontSize{
    font-size: 40px;
    line-height: 55px;
  }
  .reduce-margin{
    margin-bottom: 5% !important;
  }
  .mb-remove{
    margin-bottom: 0%;
  }
}

@media screen and (max-width : 790px){
  .text-size-reduce{
    font-size: 40px;
    line-height: 55px;
  }
  .reduce-margin-t{
    margin-top: 1% !important;
  }
  .reduce-margin-b{
    margin-bottom: 3% !important;
  }
  .reduce-margin-l{
    margin-left: 0% !important;
  }
  
}

@media screen and (max-width : 440px){
  .width-5{
    width : 15%;
  }

  .reduce-font-size{
    font-size : 20px;
  }
  .remove-left-padding{
    width: 75% !important;
 
  }
 .remove-margin-top{
  margin-top: 1%;
 }
 
}

@media screen and (max-width : 727px){
  .big-circle{
    width:25%;
  }
  .small-text{
    font-size: 20px !important;
    line-height: 35px;
    width : 70% !important;
    margin-left: 5% !important;
  }
  
}


@media screen and (max-width : 500px){
  body{
    background: linear-gradient(#28293E 0%, #28293E 19%, #FDF0E9 19%, #FDF0E9 40%, #28293E 40%,#28293E 58%,#FDF0E9 58%,#FDF0E9 82%,#28293E 82%,#28293E 95%, #FDF0E9 95%, #FDF0E9 100%) !important;
  }
  .r-pading{
    padding: 0% !important;
  }
}

@media screen and (max-width : 756px){
  body{
    background: linear-gradient(#28293E 0%, #28293E 19%, #FDF0E9 19%, #FDF0E9 40%, #28293E 40%,#28293E 61%,#FDF0E9 61%,#FDF0E9 78%,#28293E 78%,#28293E 95%, #FDF0E9 95%, #FDF0E9 100%);
  }

  .centeralizeTags{
   
    justify-content: start;
  }
  .centeralize{
   
    justify-content: start;
    text-align: start;
    padding-left:0;
  }
  .value-card{
    width: 100%;
    margin-left: 0 !important;
  }
}
@media screen and (max-width : 1259px){
  body{
    background: linear-gradient(#28293E 0%, #28293E 19%, #FDF0E9 19%, #FDF0E9 40%, #28293E 40%,#28293E 61%,#FDF0E9 61%,#FDF0E9 82%,#28293E 82%,#28293E 95%, #FDF0E9 95%, #FDF0E9 100%);
  }
}

@media screen and (max-width : 766px){
  .height{
    margin-right:0px !important;
  }
}

@media screen and (max-width : 400px){
  .S1container{
    padding : 0%;
  }
  .reduceinfotitle-40 {
    font-family: Epilogue;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px; 

  }
  .fontSize-72{ 
  font-size: 55px;

  }
  .fontSize-45{
    font-size: 40px !important;
    line-height: 48px !important; 
  }
  .fontSize-55{
    font-size: 40px !important;
    line-height: 48px !important; 
  }
  .width-60{
    width:100%;
  }

  .width-70{
    width:100%;
  }
  
  .row{
    --bs-gutter-x: 0rem !important;
  }
  .small-screen-w{
    width:90%;
  }
}

@media (max-width: 787px) {
  /* Hide the list items by default */
  #listItems li {
    display: none;
  }

  /* Display the dropdown button and style it */
  #listItems .dropdown-btn {
    display: block;
    background-color: #F3D1BF;
    padding: 8px;
    cursor: pointer;
    border: none;
  }

  /* Show the dropdown menu when the button is clicked */
  #listItems .dropdown-content {
    display: none;
    position: absolute;
    background-color: #F3D1BF;
    min-width: 160px;
    z-index: 1;
  }

  /* Style the dropdown menu items */
  #listItems .dropdown-content li {
    display: block;
    padding: 8px;
    text-align: center;
  }

  /* Show the dropdown menu when the button is clicked */
  #listItems .show {
    display: block;
  }
}















